.custom-input {
    background-color: #FDF1E3 !important; /* 配合設計圖的粉橘色背景 */
    border-radius: 8px;
}
.cursor-pointer {
    cursor: pointer;
}
.btn-warning {
    background-color: #F5D1A9;
    border-color: #F5D1A9;
}


/* 如果你的 input 有時候會出現背景變黃(瀏覽器自動填入)，
   可以加這段強制的 shadow 來覆蓋它 (選用) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}